@import 'content_style.css';

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    overflow-x: hidden;
    background-image: url(../img/bg_simulacro.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover
}

