@import 'content_style.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    overflow-x: hidden;
    background-image: url(../img/bg_docentes.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover
}

/*************LISTA******************/
.table_{
    margin: 0 auto;
    background: white;
    width: 100%;
    box-shadow: 0 0 5px #616060;
    font-family: 'Raleway', sans-serif;
     border-radius: 5px;
}

#tit_table{
background-image: linear-gradient(to right, rgba(205, 43, 57), rgba(227, 73, 120)); 
    color: white;    
}
