<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

      <title>SISPRO - Simulacros</title>

    <!-- Bootstrap core-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/dir_sim_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-------editor de texto------->
   <script type="text/javascript" src="../js/jquery-1.12.0.js"></script>
   <script type="text/javascript" src="../js/editor.js"></script>	
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/editor.css">
	
    <!--------------------------------->
  </head>

  <body id="page-top">

<!-------------------------------------------------------------------------------------------------------------->
  
  
   
   
   
   

   <!--------------------INICIO - CONTENIDO PAGINA--------------------->
   
  
   
   <div id="page_content">
      
            <div class="container-fluid">
              
                <p id="titulo_area_pag" class="display-3">Gestionar > Simulacros</p>
              <!----------------INICIO CUADRO REGISTRO------------------------------->
                   <div class="simulacro_prin">
                  
           <div id="simulacro_content">
            <div id="simulacro_uno">
                <h4>Registrar simulacro</h4>
            </div>
            
            <div id="simulacro_dos">
                
                    
              
               	 <form>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Inscribir simulacro</button>
                 </form>
            </div>
            </div>
        </div>
              <!----------------FIN CUADRO REGISTRO------------------------------->  
                <div class="table_area">
               <table class="table table-hover">
  <thead>
    <tr id="tit_table">
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>        
            
    </div>
    
    <!---------VENTANA MODAL REGISTRO-------------------->
    

    
    <div id="myModal" class="modal fade " role="dialog">
          <div class="modal-dialog modal-lg ">

        <!-- Modal content-->
    <div class="modal-content modal_per ">
     <div class="reg_sim">
       <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="modal-header">
        
        <div id="reg_sim_titu_modal">
                <h3>Registrar área</h3>
          
        </div>
        
        
      </div>
      
       
       <div class="modal-body">
       <div id="reg_sim_content">
               
                <form>
                <p id="titulo_area_pag">Datos generales</p>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="fechasim">Fecha</label>
      <input type="date" class="form-control" id="fechasim" >
    </div>
    
    <div class="form-group col-md-4">
      <label for="codigoreg">Hora inicio</label>
      <input type="text" class="form-control" id="codigoreg" >
    </div> 
    
    
    <div class="form-group col-md-4">
      <label for="codigoreg">Hora fin</label>
      <input type="text" class="form-control" id="codigoreg" >
    </div> 
  </div>
  
  <hr class="my-4">
   <p id="titulo_area_pag">Areas de conocimiento</p>
  
  <div class="form-row">
   <div class="form-group col-md-8 center-block">
      <label for="inputState">Selecciona las areas</label>
      <select id="inputState" class="form-control">
        <option selected>Matematicas</option>
        <option>Biologia</option>
      </select>
    </div>
  </div>
         <div class="form-row">
                   <div class="opc_cir">
                   <p>Matematicas</p>
                    </div>
         </div>
         <hr class="my-4">
          <p id="titulo_area_pag">Preguntas a evaluar</p>
  
  <div class="form-row">
   <div class="form-group col-md-8 center-block">
      <label for="inputState">Areas seleccionadas</label>
      <select id="inputState" class="form-control">
        <option selected>Matematicas</option>
        <option>Biologia</option>
      </select>
    </div>
  </div>
  
 <div class="form-row">
      <table class="table table-hover">
  <thead>
    <tr id="tit_table">
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  </div>
  
    
      <button type="submit" class="btn ">Registrar</button>

  
</form>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
              </div>
  </div>
</div>
       
           <!--------------------EDITOR DE TEXTO------------------------------->
   <div class="container">
		<div class="row">
			<div class="col-sm-8">
				<form action="prueba.php" method="post" id="frm-test">
					<div class="form-group">
						<textarea id="txt-content" name="txt-content"></textarea>
					</div>
					<input type="submit" class="btn btn-default" id="btn-enviar" value="Mostrar Resultado">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div id="texto" style="border:1px solid #000; padding:10px;margin-top:20px;">
					
				</div>
			</div>
		</div>
	</div>
   
   <!--------------------FIN EDITOR DE TEXTO----------------------------->
    
   </div>
   
   

   
   
   
   <footer class="small text-center text-white-50">
      <div class="container">
        Copyright &copy; Ingenieria de software
      </div>
    </footer>
   
    <!--------------------FIN - CONTENIDO PAGINA--------------------->
   <!-- Bootstrap core JavaScript-------------------------------------------------- -->
     
    <!-- <script src="../vendor/jquery/jquery.min.js"></script>-->
    <!--<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
   
	<script type="text/javascript">
		$(document).ready(function(){
			$('#txt-content').Editor();

			$('#txt-content').Editor('setText', ['<p style="color:red;">Hola</p>']);

			$('#btn-enviar').click(function(e){
				e.preventDefault();
				$('#txt-content').text($('#txt-content').Editor('getText'));
				$('#frm-test').submit();				
			});
		});	
	</script>
  
   <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");});
    </script>
  </body>

</html>