<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

      <title>SISPRO - Materias</title>

    <!-- Bootstrap core-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/dir_mat_style.css">
    <link rel="stylesheet" href="../css/menu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   
  </head>

  <body>
    <!-----------MENU--------------->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a  class="navbar-brand js-scroll-trigger" href="#page-top">
    <img src="../img/logo_blanco.png" alt="">        
            
            
        </a>
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">  
           
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="dir_mat.html">Materias</a>
            </li>
            
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="dir_pre.html">Preguntas</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="dir_simu.html">Simulacros</a>
            </li>
            
            
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="dir_doc.html">Docentes</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Estudiantes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<div id="page_content">
      
<div class="container-fluid">
    <div id="indice_pag">          
        <p>Gestionar > Materias</p>
    </div>     
    
    <div id="cotenido_pag">          
      <!-------------CUADRO------------------->
    <div class="cuadro_prin">
                  
           <div id="cuadro_content">
            <div id="cuadro_uno">
                <p>Registrar Materia</p>
            </div>
            
            <div id="cuadro_dos">
                
                    
              
               	 <form>
                     <div class="form-group">
    <label for="codigoform">Nombre materia</label>
    <input type="text" class="form-control" id="codigoform" >
  </div>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Registrar</button>
                 </form>
            </div>
            </div>
        </div>
        
        <!--------------LISTADO MATERIAS------->
        
        <div class="table_">
               <table class="table table-hover">
  <thead>
    <tr id="tit_table">
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
    </div>              
</div>
    
</div>
   
   <!-------------------------------------->
    <footer class="small text-center text-white-50">
      <div class="container">
        Copyright &copy; Ingenieria de software
      </div>
    </footer>
    
   <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Plugin JavaScript -->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/grayscale.min.js"></script>
   
   
   <!-- Bootstrap core JavaScript-------------------------------------------------- --> 
  </body>

</html>